.ui-mask {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 10000;
}

.ui-dialog {
    box-sizing: border-box;
    -moz-user-select: none;
    position: fixed;
    _position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
    display: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}


.ui-tips-success, .ui-tips-error, .ui-tips-loading, .ui-tips-warn{
    height: 35px;
    line-height: 35px;
    padding: 0px 10px 0px 25px;
    font-weight: bold;
    background-image: url('./images/success.png');
    background-position: 5px center;
    background-repeat: no-repeat;
    text-align: center;
}
.ui-tips-loading{
    background-image: url('./images/loading.gif');
}

.ui-tips-error{
    background-image: url('./images/error.png');
}

.ui-tips-warn{
    background-image: url('./images/warn.png');
}
